<h1>Listing organisms</h1>

<table>
  <tr>
    <th>Species</th>
    <th>Longevity</th>
    <th>Repro coefficient</th>
    <th>Name</th>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organisms.each do |organism| %>
  <tr>
    <td><%= organism.species %></td>
    <td><%= organism.longevity %></td>
    <td><%= organism.repro_coefficient %></td>
    <td><%= organism.name %></td>
    <td><%= organism.sex %></td>
    <td><%= link_to 'Show', organism %></td>
    <td><%= link_to 'Edit', edit_organism_path(organism) %></td>
    <td><%= link_to 'Destroy', organism, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organism', new_organism_path %>
